* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
  }
  
  body {
    min-height:100vh;
    background:#242424;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  
  .container {
    width:100%;
    padding:60px 20px;
    display:flex;
    justify-content:center;
  }
  
  .video-section {
    background:#333;
    padding:35px 25px;
    border-radius:16px;
    text-align:center;
    max-width:400px;
    width:100%;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
  }
  
  h1 {
    margin-bottom:25px;
    font-size:24px;
    color:#f7f8fa;
  }
  
  button {
    padding:12px 20px;
    font-size:17px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:#2563eb;
    color:#fff;
    transition:0.3s;
  }
  
  button:hover {
    background:#1e40af;
  }
  
  .modal {
    display:none;
    position:fixed;
    z-index:1000;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    justify-content:center;
    align-items:center;
  }
  
  .modal-content {
    background:#fff;
    padding:20px;
    border-radius:14px;
    max-width:800px;
    width:90%;
    text-align:center;
    position:relative;
  }
  
  .close {
    position:absolute;
    top:10px;
    right:15px;
    font-size:28px;
    font-weight:bold;
    cursor:pointer;
  }
  
  video {
    width:100%;
    height:auto;
    border-radius:10px;
  }
  