
body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background: #242424;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    width: 90%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h2{
    font-weight: 700;
}

.input{
    padding: 20px 10px;
    font-size: 18px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    width: 90px;
}

.errorMessage{
    color: red;
    font-weight: 600;
    margin: 10px;
    display: none;
}

.btn{
    text-transform: uppercase;
    width: 200px;
    height: 45px;
    margin: 20px 0;
    font-size: 18px;
    border-radius: 15px;
    background-color: #262626;
    color: aliceblue;

}

.btn:hover{
    color: aliceblue;
    background-color: #242424;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}
.gallery img{
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin: 5px;
}

.gallery{
    display: none;
}